/* only small desktops */
/* tablets */
@media (min-width: 992px) and (max-width: 1190px) {
    .countdown {
        height: 285px;
    }

    .top-header .navbar .navbar-collapse ul li a {
        font-size: 14px;
    }

    .lbox-details h2 {
        font-size: 26px;
    }

    .contact_bt {
        margin-top: 25px;
    }

    .slide_text {
        margin-top: 70px;
    }

    .social_icon {
        margin-bottom: 30px;
    }

    .top-header .navbar .navbar-collapse ul li a {
        padding: 7px 15px;
    }

    .team_member_img .social_icon_team {
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
    }

    a.navbar-brand img {
        height: 33px;
    }

    .card {
        width: 22rem;
    }

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .top-header .navbar .navbar-collapse ul li a {
        padding: 5px 15px;
    }

    .about-img {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .gallery-box ul li {
        width: 33.33%;
    }

    .top-header {
        position: relative;
    }

    .lbox-details {
        display: block;
        position: relative;
        width: 100%;
    }

    .countdown #timer div#days,
    .countdown #timer div#hours,
    .countdown #timer div#minutes,
    .countdown #timer div#seconds {
        position: inherit;
        margin: 12px 0px;
    }

    .lbox-details::before {
        background: rgba(0, 0, 0, 0.9);
    }

    .countdown {
        height: 188px;
        border-radius: 0px;
    }

    .countdown #timer div {
        width: 23%;
        font-size: 24px;
    }

    figure.effect-service h2 {
        font-size: 12px;
    }

    .top-header {
        background-image: none;
        background-color: #fff;
    }

    .search-box {
        top: 1px;
        right: 75px;
    }

    .search-btn {
        background: #111;
    }

    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 10px;
        border: solid #000 1px;
        height: 41px;
    }

    .top-header .navbar .navbar-collapse ul li a:hover,
    .top-header .navbar .navbar-collapse ul li a:focus {
        color: #0892fd;
    }

    .slide_text p {
        display: none;
    }

    .contact_bt {
        margin-top: 10px;
    }

    .slide_text {
        margin-top: 60px;
    }

    .section.layout_padding h4 {
        text-align: left;
    }

    #demo .img-responsive {
        width: 100%;
        margin-bottom: 30px;
    }

    .carousel a.carousel-control-prev {
        left: 20px;
    }

    .carousel a.carousel-control-next {
        right: 20px;
    }

    .team_member_img img {

        border: solid #ece9e2 10px;
        border-radius: 100%;
        width: 210px;
        height: 210px;

    }

    .team_member_img .social_icon_team {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #team_slider p {
        padding: 0;
    }

    .social_icon {
        margin-bottom: 30px;
    }

    .heading_main h2 {
        font-size: 35px;
    }

    .top-header #navbar-wd {
        padding-right: 0;
    }

    footer.footer-box p {
        margin-top: 5px;
        font-size: 13px;
    }

    .tab_menu {
        padding: 0 30px;
    }

    .blog_img_popular h4 {
        text-align: center;
        font-size: 13px;
        min-height: 55px;
        line-height: 55px !important;

    }

}

/* mobile or only mobile */
@media (max-width: 767px) {
    a.navbar-brand img {
        width: 10rem;
    }

    .campaign-table {
        width: 100%;
        height: 80px;
        margin-top: -50px;
        padding-top: 10px;
        z-index: 999;
    }

    .nilai {
        font-size: 14px;
    }
    
    .keterangan {
        font-size: 9px;
    }

    .top-header .navbar .navbar-collapse ul li a {
        padding: 5px 15px;
        font-size: 13px;
    }

    /* .top-header .navbar .navbar-collapse ul li {
        margin: 0 2px;
    } */

    .lbox-details h1 {
        font-size: 24px;
    }

    .lbox-details h2 {
        font-size: 18px;
    }

    .lbox-details p strong {
        font-size: 20px;
    }

    .lbox-details a.btn {
        display: none;
    }

    .title-box h2 {
        font-size: 38px;
    }

    .about-main-info h2 {
        font-size: 24px;
    }

    .about-img {
        margin-bottom: 30px;
    }

    .main-timeline-box .separline::before {
        left: 15px !important;
    }

    .main-timeline-box .iconBackground {
        left: 15px !important;
    }

    .main-timeline-box .timeline-text-content {
        margin-left: 0px;
    }

    .main-timeline-box .reverse .timeline-text-content {
        margin-right: 0px;
    }

    .main-timeline-box .time-line-date-content {
        margin-right: 0px;
    }

    .main-timeline-box .time-line-date-content p {
        float: left;
    }

    .main-timeline-box .timeline-element {
        padding: 0px 15px;
    }

    .gallery-box ul li {
        width: 48%;
    }

    .top-header {
        position: relative;
    }

    a.navbar-brand img {
        height: auto;
    }

    .tab_menu {
        padding: 0 13px;
    }

    p.section_count {
        display: none;
    }

    .lbox-details {
        position: relative;
        width: 100%;
        padding: 5% 0%;
    }

    .about-m {
        margin-top: 30px;
    }

    .countdown #timer div#days,
    .countdown #timer div#hours,
    .countdown #timer div#minutes,
    .countdown #timer div#seconds {
        position: inherit;
        margin: 12px 0px;
    }

    .lbox-details::before {
        background: rgba(0, 0, 0, 0.9);
    }

    .countdown {
        height: 188px;
        border-radius: 0px;
    }

    .countdown #timer div {
        width: 23%;
        font-size: 24px;
    }

    .about-m {
        margin-bottom: 30px;
    }

    .timeLine .row .item {
        margin-bottom: 30px;
    }

    .filter-button-group button {
        margin-bottom: 5px;
    }

    .navbar-brand img {
        width: 12rem;
    }

    .top-header {
        background-image: none;
        background-color: #ecedef;
    }

    .about-main-info div.full>img {
        height: auto;
        margin-bottom: 20px;
    }

    a.navbar-brand {
        left: 0;
        position: relative;
    }

    .slide_text {
        margin-top: 10%;
    }

    .slide_text h3 {
        font-size: 20px;
    }

    .slide_text h4 {
        font-size: 16px;
        margin: -20px 0;
    }

    .slide_text p {
        display: none;
    }

    .contact_bt {
        width: 90px;
        height: 35px;
        background: #07528d;
        color: #fff;
        float: left;
        line-height: 36px;
        text-align: center;
        font-size: 11px;
        font-weight: 300;
        margin-top: -0px;
    }

    .top-header #navbar-wd {
        padding-right: 0;
    }

    .pogoSlider--navBottom .pogoSlider-nav {
        bottom: 0px;
    }

    .heading_main {
        float: left;
        width: 100%;
    }

    .heading_main h2 {
        font-size: 14px;
    }

    .heading_main h2 .visi {
        font-size: 14px;
    }

    .isi-tentang {
        font-size: 12px;
        margin-bottom: -80px;
        margin-top: -20px;
    }

    .layout_padding {
        padding: 20px 0;
    }

    .layout_padding_2 {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .full img {
        margin-top: -100px;
        width: 17rem;
    }

    .footer img {
        margin-top: -50px;
        width: 17rem;
    }

    .card {
        width: 18rem;
    }

    .foto-tentang img {
        display: none;
    }

    .heading_main p.large {
        display: none;
    }

    h3.small_heading {
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        margin-top: 25px;
    }

    #demo .img-responsive {
        margin: 10px 0;
        width: 100%;
    }

    .team_member_img img {

        border: solid #ece9e2 20px;
        border-radius: 100%;
        width: 280px;
        height: 280px;

    }

    .team_member_img.text_align_center {

        width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        float: none;

    }

    .bottom_menu {

        float: right;
        width: 100%;
        justify-content: center;
        display: flex;

    }

    .carousel a.carousel-control-prev {
        left: 20px;
    }

    .carousel a.carousel-control-next {
        right: 20px;
    }

    .footer-box {
        margin-top: 100px;
    }

    .footer_blog {
        margin-top: 25px;
    }

    footer.footer-box p {
        font-size: 12px !important;
    }

    .footer_blog li a {
        font-size: 12px !important;
    }

    .footer_blog li span {
        font-size: 12px !important;
    }

    .footer_blog li img {
        margin-top: 1px;
    }

    .team_member_img .social_icon_team {

        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: rgba(244, 56, 102, 0.7);
        opacity: 0;
        transition: ease all 0.2s;

    }

    .footer_bottom p.crp {
        float: left;
        width: 100%;
        text-align: center;
    }

    .heading_main h2 {
        font-size: 25px;
    }

    .newsletter_form input {
        width: 100%;
    }

    /* css donasi */

    .nama-bantu {
        font-size: 17px;
        margin-bottom: -10px;
    }

    .judul-bantu {
        font-size: 12px;
        margin: 10px 0;
    }

    .jumlah-bantu {
        font-size: 22px;
        margin: -20px 10px 0 0;
    }

    .share hr {
        margin-bottom: -10px;
    }

    .kartu .card-title {
        font-size: 20px;
        margin-bottom: -15px;
    }

    .kartu .card-text {
        font-size: 12px;
    }

}